@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.space-animation {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.star {
  position: absolute;
  background: white;
  border-radius: 9999px;
  animation: twinkle var(--duration) ease-in-out infinite;
  opacity: 0;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.ufo-beam {
  animation: beam 2s ease-in-out infinite;
  transform-origin: top;
}

@keyframes beam {
  0%,
  100% {
    transform: scaleY(0.8);
    opacity: 0.3;
  }

  50% {
    transform: scaleY(1.1);
    opacity: 0.7;
  }
}

.hidden-link {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.error-container:hover .hidden-link {
  opacity: 1;
}

.meteor {
  position: absolute;
  width: 2px;
  height: 2px;
  background: linear-gradient(45deg, #fff, transparent);
  animation: meteor 2s linear infinite;
  transform: rotate(45deg);
}

@keyframes meteor {
  0% {
    transform: translate(0, 0) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: translate(-100px, 100px) rotate(45deg);
    opacity: 0;
  }
}

.astronaut-wave {
  animation: wave 2s ease-in-out infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(20deg);
  }
}

.portal {
  animation: portal-spin 8s linear infinite;
}

@keyframes portal-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

footer{
  @apply w-full mx-auto bg-site-footer text-slate-300 text-xs
  py-6 px-16 flex items-center justify-between *:space-x-6
  *:flex *:items-center;
  position: fixed;
  bottom: 0px;
}

.rtl{
  direction: rtl;
}

.ltr{
  direction: ltr;
}

@theme {
  --color-site-footer: #5b536b;
  --color-site-bg: #faf7fb;
  --color-site-card: #f3edf7;

  --color-home-purple: #8b5cf6;
  --color-home-pink: #ec8fba;
  --color-home-peach: #f6b38f;
}